@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
#navbar {
  width: 100%;
  height: 100px;
  background: #e6e6e6;
  margin: 0px;
  box-shadow: 3px 3px 10px #1f1f1f;
}

#navbar_list {
  display: flex;
  margin: 0px 60px;
  padding: 0;
}

#navbar_list li {
  display: inline;
  padding: 8px 0px;
  background: #c9c9c9;
  font-size: 26px;

}

#navbar_list li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  padding: 0px 10px;
}

#navbar_list li :hover:not(input):not(button) {
  background: #ba4e4e;
  color: #ffffff;
  padding: 8px 10px;

}

#navbar_list .navbar_st :hover {
  border-radius: 10px 0px 0px 10px;
  color: #d42a2a;
  background: #d42a2a;
}

#navbar_list .navbar_en :hover {
  border-radius: 0px 10px 10px 0px;
  color: #d42a2a;
  background: #d42a2a;
}

#navbar_list .navbar_st {
  background: #d42a2a;
  border-radius: 10px 0px 0px 10px
}

#navbar_list .navbar_en {
  background: #d42a2a;
  border-radius: 0px 10px 10px 0px
}

#navbar_list .navbar_st a {
  color: #d42a2a;
  background: #d42a2a;
  user-select: none;
}

#navbar_list .navbar_en a {
  color: #d42a2a;
  background: #d42a2a;
  user-select: none;
}

#navbar_list .navbar_mid a {
  width: 100%;
  color: #c9c9c9;
  background: #c9c9c9;
  user-select: none;
}

#navbar_list .navbar_mid {
  flex-grow: 1;
}

#navbar_list .navbar_search  {
  padding-right: 10px;
}
