<head>
</head>

<body>
<ul id="navbar_list">
  <li class="navbar_st"><a style="visibility: hidden">||||</a></li>
  <li routerLink="Home"><a>Home</a></li>
  <li routerLink="Kosacek"><a>Kosacek</a></li>
  <li routerLink="Skyper"><a>Skyper</a></li>
  <li routerLink="Janko"><a>Janko</a></li>
  <li class="navbar_mid"><a>...</a></li>
  <li> <!-- Search form -->
    <div class="md-form">
      <input type="search" [(ngModel)]="searchText" placeholder="Search text">
      <button mdbBtn gradient="aqua" rounded="true" mdbWavesEffect type="submit">Search</button>
    </div>
  </li>
  <li class="navbar_en"><a>|</a></li>
</ul>
<ul *ngFor="let data of dataset | filter: searchText">
  <li>{{data}}</li>
</ul>
</body>
<router-outlet></router-outlet>
