<div class="container">
  <div class="main-wrapper">
    <form #form="ngForm">
      <div class="main-text">Registrace</div>
      <div>
        <label for="inputNick">Uživatelské Jméno</label>
        <input name="nickname" [(ngModel)]="username" type="text" required minlength="3" maxlength="10"
               #UzivatelskeJmenoEl="ngModel" id="inputNick" placeholder="Nickname" class="form-control">
      </div>
      <div *ngIf="UzivatelskeJmenoEl.touched">
        <p *ngIf="UzivatelskeJmenoEl.errors.minlength">Jméno je moc krátké</p>
        <p *ngIf="UzivatelskeJmenoEl.errors.maxlength">Jméno je moc dlouhé</p>
      </div>

      <div>
        <label for="inputPassword">Heslo</label>
        <input name="password" [(ngModel)]="heslo" type="password" required minlength="5" maxlength="30"
               #HesloEl="ngModel" id="inputPassword" class="form-control"
               placeholder="Password">
      </div>
      <div *ngIf="HesloEl.valueChanges && HesloEl.errors">
        <p *ngIf="HesloEl.errors.minlength">Heslo je moc krátké</p>
        <p *ngIf="HesloEl.errors.maxlength">Heslo je moc dlouhé</p>
      </div>
      <br>

      <div>
        <label for="inputPassword">Jméno</label>
        <input name="jmeno" [(ngModel)]="name" type="text">
      </div>

      <div>
        <label for="inputPassword">Popis</label>
        <input name="password" [(ngModel)]="popis" type="text">
      </div>

      <div>
        <label for="inputPassword">skills</label>
        <input name="password" [(ngModel)]="skills" type="text">
      </div>

      <div>
        <button [disabled]="form.invalid" (click)="VytvoritUzivatele()"
                type="submit">
          Registrovat
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="Prijmuto">

</div>
