form {
  display: block;
  justify-content: left;
  flex-direction: column;
}

input {
  width: 400px;
  height: 50px;
  font-weight: bold;
  font-size: 25px;
}

.vypis {
  text-align: center;
  color: black;
}
.ram {
  background-image: radial-gradient(white,lightblue,blue);
  width: 500px;
  height: auto;
  margin: 50px auto;
  margin-top: 15%;
  padding: 1px;
  border: 2px double black;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black inset;
}
