<div class="ram">
  <form (ngSubmit)="send()">
    <label>
      <h1>Jmeno</h1>
      <input type="text" [(ngModel)]="Jmeno" name="title" placeholder="Title">
    </label>
    <label>
      <h1>Popis</h1>
      <input type="text" [(ngModel)]="Popis" name="text" placeholder="Text">
    </label>
    <label>
      <h1>Schopnosti</h1>
      <input type="text" [(ngModel)]="Schopnosti" name="text" placeholder="Text">
    </label>
    <button>Pridat</button>
  </form>

  <form>
    <h1>Editujete : {{posty.indexOf(edity) + 1}} </h1>
    <label>
      <h1>Jmeno</h1>
      <input type="text" [(ngModel)]="edity.Jmeno" name="title" [defaultValue]='edity.Jmeno'/>
    </label>
    <label>
      <h1>Popis</h1>
      <input type="text" [(ngModel)]="edity.Popis" name="text" [defaultValue]='edity.Popis'/>
    </label>
    <label>
      <h1>Schopnosti</h1>
      <input type="text" [(ngModel)]="edity.Schopnosti" name="text" [defaultValue]='edity.Schopnosti'/>
    </label>
  </form>

  <div *ngFor="let post of posty" class="vypis" (click)="edit(post)">
    <h2>
      {{post.Jmeno}}
    </h2>
    <p>
      {{post.Popis}}
    </p>
    <p>
      {{post.Schopnosti}}
    </p>
  </div>
</div>
<router-outlet></router-outlet>
